<!-- INTRO -->
<section id="intro">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Welcome to the<br>Sleek landing page</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sapien leo, consequat sed aliquam at, convallis sit amet metus. Vivamus malesuada, ex in placerat bibendum, est dui euismod sapien, eget tincidunt nunc ipsum ut mauris.</p>
                        <div class="dual-btns">
                            <a href="#">Purchase Now</a>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-5 sub-form">
                        <div id="sub-form">
                            <form class="subscribe" action="php/subscribe.php" id="invite" method="POST">
                                <h4>Subscribe for free trial</h4>
                                <h5>100% Moneyback Guarantee</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="fname" id="fname" class="fname" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="lname" id="lname" class="lname" placeholder="Last Name">
                                    </div>
                                </div>
                                <input type="email" class="e-mail" placeholder="Email Address" name="email" id="address" data-validate="validate(required, email)">
                                <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox" required /><label for="checkboxG1" class="css-label"><span>By clicking here, i agree to the <a class="term-popup" href="#">terms and conditions</a> of this lorem ipsum app</span></label>
                                <div class="clearfix"></div>
                                <div class="space40"></div>
                                <button type="submit" class="btn btn-main btn-center">Get the free Trial</button>
                            </form>
                        </div>
                        <span id="result"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- INTRO -->