<!-- INTRO -->
<section id="intro">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Women of the Texas Civil Rights Movement</h2>
                        <p>Stories from the women who helped redefine Texas identity and culture to create a more equitable and inclusive state for all Texans. These are the women of La Raza Unida.</p>
                        <div class="dual-btns">
                            <a href="#">About</a>
                            <a href="#">Contact</a>
                        </div>
                    </div>
                    <div class="col-md-5 sub-form">
                        <div id="sub-form">
                            <form class="subscribe" action="php/subscribe.php" id="invite" method="POST">
                                <h4>Subscribe for updates</h4>
                                @*<h5>100% Moneyback Guarantee</h5>*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="fname" id="fname" class="fname" placeholder="First Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="lname" id="lname" class="lname" placeholder="Last Name">
                                    </div>
                                </div>
                                <input type="email" class="e-mail" placeholder="Email Address" name="email" id="address" data-validate="validate(required, email)">
                                <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox" required /><label for="checkboxG1" class="css-label"><span>By clicking here, I agree to <a class="term-popup" href="#">site conditions</a> </span></label>
                                <div class="clearfix"></div>
                                <div class="space40"></div>
                                <button type="submit" class="btn btn-main btn-center">Subscribe</button>
                            </form>
                        </div>
                        <span id="result"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- INTRO -->