<!-- SERVICES -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 service-content sc1">
                <span><i class="fa fa-hdd-o"></i></span>
                <h4>About</h4>
                <p>Stories from the women who helped redefine Texas identity and culture to create a more equitable and inclusive state for all Texans. These are the women of La Raza Unida.</p>
                <a href="#">Learn More <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="col-md-4 service-content sc2">
                <span><i class="fa fa-diamond"></i></span>
                <h4>Contact</h4>
                <p>Ping us if you have questions about our work, want to give us money to fund our work, or just want to drop us a line!</p>
                <a href="#">Learn More <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="col-md-4 service-content sc3">
                <span><i class="fa fa-envelope-o"></i></span>
                <h4>Our Interviewees</h4>
                <p>Women of the Texas Civil Rights Movement tell their own stories.</p>
                <a href="#">Learn More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- SERVICES -->
