<!-- SERVICES -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 service-content sc1">
                <span><i class="fa fa-hdd-o"></i></span>
                <h4>Responsive Design</h4>
                <p>Morbi laoreet scelerisque orci finibus ullam corper quam semper utac aliquam magna quis</p>
                <a href="#">Learn More <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="col-md-4 service-content sc2">
                <span><i class="fa fa-diamond"></i></span>
                <h4>Easy update</h4>
                <p>Morbi laoreet scelerisque orci finibus ullam corper quam semper utac aliquam magna quis</p>
                <a href="#">Learn More <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="col-md-4 service-content sc3">
                <span><i class="fa fa-envelope-o"></i></span>
                <h4>Awesome stats</h4>
                <p>Morbi laoreet scelerisque orci finibus ullam corper quam semper utac aliquam magna quis</p>
                <a href="#">Learn More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- SERVICES -->
