	<!-- INFO BOXES / DUAL -->
<section class="dual-info">
    <div class="container">
        <div class="col-md-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Texas_flag_map.svg/614px-Texas_flag_map.svg.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-6">
            <div class="col-md-9">
                <h4>About This Project</h4>
                <p>There are incredible Texas women who worked tirelessly in the 1960s and 1970s to make our state a better and more equitable place for everyone. We wanted to celebrate these women, and their unique experiences as political and community activists, as told through their work with La Raza Unida.</p>
<p>It was important to us that they share their stories in their own words, which is why we recorded them on video, and share those videos and transcripts from them here; we eventually hope to include the transcripts from these interviews in a book. We are hoping with this work to gain a new understanding of Texas history through the lens of some of its most stellar daughters, who found their way into activism vis-à-vis La Raza Unida. </p>
<p>We hope you enjoy their stories and learn from them — and please share with your friends and family.</p>
                </p>
                <ul class="space40">
                    <li><i class="fa fa-check"></i> Laura Varela is a filmmaker based in San Antonio, you can contact her here.</li>
                    <li><i class="fa fa-check"></i> Andrew Gonzales is a filmmaker based in Austin, you can contact him here.</li>
                    <li><i class="fa fa-check"></i> Julia Wells is a web developer based in Los Angeles, you can contact her here.</li>
                    <li><i class="fa fa-check"></i> Fernando Ortiz is an historian based in San Antonio, you can contact him here.</li>
                    <li><i class="fa fa-check"></i> Sara Inés Calderón is a web developer and writer based in Austin, you can contact her here.</li>
                </ul>
                <a href="#" class="btn-main btn-white btn-left">Learn more</a>
            </div>
        </div>
    </div>
</section>
<!-- INFO BOXES / DUAL -->
