<!-- SERVICES / 2 -->
<section id="services2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <i class=""></i>
                <div class="sc2-inner">
                    <h4>Rosie Castro</h4>
                    <p>A San Antonio native, political pioneer there, and mother of two successful national politicians.</p>
                </div>
            </div>
            <div class="col-md-6">
                <i class=""></i>
                <div class="sc2-inner">
                    <h4>Irma Mireles</h4>
                    <p>A South Texas native who broke barriers in San Antonio and Alaska, and was active in La Raza Unida.</p>
                </div>
            </div>
            @*<div class="col-md-4">
                <i class="fa fa-paper-plane-o"></i>
                <div class="sc2-inner">
                    <h4>Name Name</h4>
                    <p>Next Interview</p>
                </div>
            </div>*@
        </div>
        @*<div class="row">
            <div class="col-md-4">
                <i class="fa fa-pie-chart"></i>
                <div class="sc2-inner">
                    <h4>Awesome Stats</h4>
                    <p>Morbi laoreet scelerisque orci finibus ullam corper quam semper utac aliquam magna quis</p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-puzzle-piece"></i>
                <div class="sc2-inner">
                    <h4>Easy update</h4>
                    <p>Morbi laoreet scelerisque orci finibus ullam corper quam semper utac aliquam magna quis</p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-youtube-play"></i>
                <div class="sc2-inner">
                    <h4>Video Support</h4>
                    <p>Morbi laoreet scelerisque orci finibus ullam corper quam semper utac aliquam magna quis</p>
                </div>
            </div>
        </div>*@
    </div>
</section>
<!-- SERVICES / 2 -->
