

	<!-- ABOUT / INFO CONTENT -->
<div class="wrap-content">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>Irma Mireles</h2>
                <p class="lead">Irma Mireles grew up in San Antonio and began a career in activism early in her life. Her work with La Raza Unida is only a part of her political story; she also lived in Alaska, where her organizing of the Hispanic community continued. Eventually she came back to San Antonio and has been involved in a variety of community organizing since.</p>
                <div class="clearfix space10"></div>
                <a href="#" class="btn-main btn-left btn-white">Learn more</a>
            </div>
            <div class="col-md-7">
                <img class="img-responsive" src="http://www.larazaunidapartyreunion.org/Irma_Mireles_in_Hondo.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- ABOUT / INFO CONTENT -->
