	<!-- ABOUT / INFO CONTENT -->
<div class="wrap-content wrap-content1">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="https://ioneglobalgrind.files.wordpress.com/2012/09/09mayor-t_ca2-popup.jpeg" alt="">
            </div>
            <div class="col-md-5">
                <h2>Rosie Castro</h2>
                <p class="lead">Rosie Castro is a San Antonio native from the city’s historically Hispanic West Side; she became politically active during her college years when she participated in local, statewide and national campaigns for safer, better and more inclusive communities. She’s also the mother of Congressman Joaquín Castro and U.S. Secretary of Housing and Urban Development Julián Castro. In short, she’s got so much greatness in her that she had enough to spare for her two children.</p>
                <div class="clearfix space20"></div>
                <a href="#" class="btn-main btn-left">Learn more</a>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT / INFO CONTENT -->
